@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bem-Vindo!</h1>
        <p>Projeto de Mestrado de Carlos Miguel Castro Azevedo Campos - A029216@ismai.pt - Curso Tecnologias da Informação, Comunicação e Multimédia.</p>
        <img src="~/img/bpmn.PNG" />
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-justify">
                    <p><b>BPMN</b></p>
                    O BPMN (Business Process Model and Notation), teve a sua primeira versão lançada em maio de 2004 pela BPMI&iGrafx, criadora desta notação.
                    <br /> <br />Em 2005, a BPMI&iGrafx, fundiu-se com a Object Management Group, uma entidade internacional sem fins lucrativos que regulamenta padrões tecnológicos, para em janeiro de 2008 lançar a versão 1.1, em janeiro de 2009 a versão 1.2 e em janeiro de 2011, a versão 2.0, sendo esta a sua versão atual. (Object Management Group®, s.d.)
                    <br /> <br />Cada símbolo nesta notação representa algo que acontece ou pode acontecer dentro de um processo.
                </div>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-4 text-justify">
                    <p><b>Docker</b></p>
                    O Docker possibilita o empacotamento de uma aplicação ou ambiente inteiro dentro de um container, e a partir desse momento o ambiente inteiro torna-se portável para qualquer outro Host que contenha o Docker instalado.
                </div>
                <div class="col-4 text-justify">
                    <p><b>MicroServiços</b></p>
                    O termo "Arquitetura de Microsserviços (Microservice Architecture)" surgiu nos últimos anos para descrever uma maneira específica de desenvolver software como suites de serviços com deploy independente.
                </div>
                <div class="col-4 text-justify">
                    <p><b>Camunda BPM</b></p>
                    O Camunda BPM, é uma ferramenta Open-source feita em Java derivada do Activiti, onde o seu maior objetivo é efetuar a união entre área de negócios e programadores.
                </div>
            </div>
        </div>
    </div>
